<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="sticky">

    <nav class="comment_top_bar appName" data-topbar role="navigation">

      <div class="row">
        <div class="small-3 columns text-left back_button" data-no-turbolink>
          <%= link_to 'Cancel', :back, id: 'back_button' %>
        </div>
        <div class="small-6 columns text-center comment_title" data-no-turbolink>
          <%= link_to root_path do %>
            <h1>Comment</h1>
          <% end %>
        </div>
        <div class="small-3 columns text-right end" data-no-turbolink>
  	      <div class="">
  		      <%= f.submit  "Submit", class: "submit" %>
  		    </div>
	     </div>
      </div>


    </nav>

  </div>

  <div class="row">
	  <div class="small-6 small-offset-3 columns user_name">
		  <div class="form-inputs">
		    <%= f.input :username, :placeholder => "User Name", label: false, required: true %>
		  </div>
	  </div>

	  <div class="form-inputs">
	    <%= f.input :body, :placeholder => "Tell us what you think about this story...", label: false %>
	  </div>
  </div>

  <%= f.hidden_field :story_id %>
  
<% end %>
