  <div class="sticky">

    <nav class="top-bar appName" data-topbar role="navigation">

      <div class="row">
        <div class="small-3 columns text-left" data-no-turbolink>
          <%= link_to root_path do %>
            <div id="bars" class="fa fa-bars fa-2x"></div>
          <% end %>        
        </div>
        <div class="small-6 columns end text-center" data-no-turbolink>
          <%= link_to root_path do %>
            <h1>Real Talk</h1>
          <% end %>
        </div>
      </div>

    </nav>

  </div>

<p id="notice"><%= notice %></p>

<% @comments.order(created_at: :asc).each do |comment| %>
  <div class="row comment_list">
    <div class="small-8 small-offset-1 columns">
      <%= comment.body %>
    </div>
    <div class="small-2 text-right columns end">
      <%= time_ago_in_words(comment.created_at) %>
    </div>
  </div>
  <hr />
<% end %>

