  <div class="sticky">

    <nav class="top-bar appName" data-topbar role="navigation">

      <div class="row">
        <div class="small-3 columns text-left" data-no-turbolink>
          <%= link_to root_path do %>
            <div class="fa fa-bars fa-2x"></div>
          <% end %>        
        </div>
        <div class="small-6 columns end text-center" data-no-turbolink>
          <%= link_to root_path do %>
            <h1>Real Talk</h1>
          <% end %>
        </div>
      </div>

    </nav>

  </div>

  <div class="sticky">
    <div class="row ">
      <div class="small-6 text-center columns">
        <% last_male = Story.where(:category_id => '1').last %>
        <%= link_to last_male do %>
          <%= image_tag("male_button.png", id: "male_button", class: "") %>
        <% end %>
        <div>
          <div class="fa fa-comment-o comment_link"> <span class="comment_number_small"><%= last_male.comments.count %></span></div>
        </div>
      </div>

      <div class="small-6 text-center columns">
        <% last_female = Story.where(:category_id => '2').last %>
        <%= link_to last_female do %>
          <%= image_tag("female_button.png", id: "female_button", class: "") %>
        <% end %>
        <div>
          <div class="fa fa-comment-o comment_link"> <span class="comment_number_small"><%= last_female.comments.count %></span></div>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="small-6 text-center columns">
        <% last_other = Story.where(:category_id => '3').last %>
        <%= link_to last_other do %>
          <%= image_tag("other_button.png", id: "other_button", class: "") %>
        <% end %>
        <div>
          <div class="fa fa-comment-o comment_link"> <span class="comment_number_small"><%= last_other.comments.count %></span></div>
        </div>
      </div>

      <div class="small-6 text-center columns">
        <% last_parents = Story.where(:category_id => '4').last %>
        <%= link_to last_parents do %>
          <%= image_tag("parents_button.png", id: "parents_button", class: "") %>
        <% end %>
        <div>
          <div class="fa fa-comment-o comment_link"> <span class="comment_number_small"><%= last_parents.comments.count %></span></div>
        </div>
      </div>
    </div>
  </div>

      <div class="footer">
      <div class="row">
        <div class="small-3 columns text-center" data-no-turbolink>
          <%= link_to root_path do %>
            <div>
              <a class="fa fa-user fa-2x"></a>
            </div>
            <div>
              <p>
                Stories
              </p>
            </div>
          <% end %>
        </div>
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-comment fa-2x"></a>
          </div>
          <div>
            <p>
              Comment
            </p>
          </div>
        </div>
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-plus fa-2x"></a>
          </div>
          <div>
            <p>
              Share
            </p>
          </div>
        </div>
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-ellipsis-h fa-2x"></a>
          </div>
          <div>
            <p>
              More
            </p>
          </div>
        </div>
      </div>
    </div>

  <script>
    $(document).ready(function() { 
      var button_width = $("#locations_button").width();
      $(".nav_button").height(button_width);
    });  
  </script>

