<p id="notice"><%= notice %></p>

<div class="row">
	<div class="small-12 columns text-center created_at_time">
		<%= @story.created_at.strftime("%A %I:%M%p") %>
	</div>
</div>

<div class="row">
	<div class="small-4 small-offset-1 columns"> 
	  <a class="fa fa-comment-o fa-2x comment_link_med"></a>
	</div>
</div>

<% @story.sections.each do |section| %>

	<div class="row">
		<div class="small-10 small-offset-1 columns section_bubble">
			<%= section.body %>
		</div>
	</div>
<% end %>

<br />
<br />

<%= link_to 'Add Section', new_section_path(:story_id => @story.id) %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
