<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="sticky">

      <nav class="top-bar appName" data-topbar role="navigation">

        <div class="row">
          <div class="small-3 columns text-left" data-no-turbolink>
            <a class="fa fa-bars fa-2x"></a>
          </div>
          <div class="small-6 columns end text-center" data-no-turbolink>
            <%= link_to root_path do %>
              <h1>Real Talk</h1>
            <% end %>
          </div>
        </div>

      </nav>

    </div>

    <%= yield %>

    <div class="footer">
      <div class="row">
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-user fa-2x"></a>
          </div>
          <div>
            <p>
              Stories
            </p>
          </div>
        </div>
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-comment fa-2x"></a>
          </div>
          <div>
            <p>
              Comment
            </p>
          </div>
        </div>
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-plus fa-2x"></a>
          </div>
          <div>
            <p>
              Share
            </p>
          </div>
        </div>
        <div class="small-3 columns text-center">
          <div>
            <a class="fa fa-ellipsis-h fa-2x"></a>
          </div>
          <div>
            <p>
              More
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
